
/* body style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* canvas style */
.webgl{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* navbar style */
nav{
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link{
  text-decoration: none;
  font-weight: 300;
  font-size: 1.1rem;
  
}

.nav-link:hover{
  color: rgb(0, 255, 234);
}


nav ul{
  list-style: none;
  display: flex;
  gap: 4rem;
}

/* name, title style */
h1{
  color: white;
  position: absolute;
  z-index: 4;
  font-size: 1.8rem;
  font-weight: 70;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 350%);
}
/* name style */
.name{
  color: aliceblue;
  position: absolute;
  z-index: 3;
  font-size: 2.5rem;
  font-weight: 130;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -150%);
  
}
/* intor style */
.intro{
  color: aliceblue;
  position: absolute;
  z-index: 3;
  font-size: 1.1rem;
  font-weight: 150;
  left: 50%;
  top: 25%;
  font-family: "Playwrite PL", cursive;
  transform: translate(-50%, -100%);
}


span{
  color:cyan;
  font-family: "Playwrite PL", cursive;

}

/* social media style */
.social-media{
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: inline-flex;
  flex-direction: column;
}

.social{
  text-decoration: none;
  color: white;
  margin: 10px;
}

.social:hover{
  color: rgb(0, 255, 234);
}
